.search {
    width: 450px;
    height: 40px;
    text-align: center;
    border-radius: 40px;
    border: 2px solid #689689;
    color: black;
    outline: none;

}

.search-box {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .search {
        min-width: 305px;
        
    
    }
    
}